@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$first-color: black;
$second-color: white;
$third-color: rgb(247, 246, 185);
$fourth-color: rgb(252, 206, 155);
$fifth-color: darkgrey;
$shadow-color: rgba(102, 95, 87, 0.5);
$bg-gradient: linear-gradient(45deg,$third-color,$fourth-color);

body, .littleTaskText, .myNavbar, .myCard, #footerID {
    background-color: $third-color;
    background-image: $bg-gradient;
}

.myNavbar {
    border-bottom: 1px solid $fifth-color;
    z-index: 1;

    #listTaskSymbol {
        font-size: 1.5rem;
    }
}

.littleTaskText {
    border: 1px solid $fifth-color;
}

#headlineContainer {
    position: relative;
}

#headline {
    height: 200px;
    background-image: url("../images/headline-bg-img.jpg");
    background-size: cover;
    background-position: center center;
    border-bottom: 1px solid $fifth-color;
}

#headlineOverlay {
    position: absolute;
    background-color: $shadow-color;
    box-shadow: 0px 0px 8px $shadow-color;
    top: 60px;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 0;
    text-align: center;
    color: $second-color;
    border: 0px solid $first-color;
}

@media screen and (width < 768px) {
    #headlineOverlay {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

.mySortingBtn {

    i {
        font-size: 1.2rem;
    }
}

.myCard {
    width: 18rem;
    box-shadow: 0px 0px 8px $shadow-color;
    opacity: 1;
    text-decoration: none;

    hr {
        border-top: 1px solid $fifth-color;
        margin: 0.5rem 0rem;
    }

    .myBookmarkBtn, .myThreeDots {
        cursor: pointer;
    }
}

.myPriorityBtn {
    color: $second-color;
    padding: 4px 10px;
}

#footerID {
    border-top: 1px solid $fifth-color;

    i {
        font-size: 1.2rem;
    }

    form > * {
        display: inline;
        vertical-align: middle;
    }
    #signUp {
        width: 30%;
    }
}

@media screen and (width < 768px) {
    #footerID {

        form > * {
            display: block;
        }
        #signUp {
            width: 100%;
        }
    }
}